.header {
  background-image: url(../img/sumidero_canyon.jpg);
  padding-bottom: 330px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
}
