.fish {
  height: 40px;
  flex-shrink: 0;
  background: #9c3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-bottom: 30px;
}
.amphibiens {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 40px;
  flex-shrink: 0;
  background: #00a8b1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
  margin-bottom: 30px;
}
